<div class="container">
    <div class="row">
        <div class="col-4">
            <%= render 'users/user_info', user: @user %>
            <%= render 'books/new.book', new_book: @new_book %>
        </div>
        <div class="col-8">
            <%= render 'books/books', objects: @books %>
        </div>
    </div>
</div>
